	body {

	background-color: #BEC7CD;
}

	#painel-Formulario {
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
	background-color: #3B5998;
	color: #ffffff;
	width: 600px;
	height: 400px;
	margin:200px auto;
	padding: 20px;
	}

	#painel-Formulario h1{
	color: #D2D2D1;
	font-family: Arial, sans-serif;
	font-size: 25px;
	}

	#painel-Formulario table{
	margin: 20px auto;
	width: 580px;
	}

	#painel-Formulario  table select{
	width: 200px;
	}


	#painel-Formulario tr {
	height: 35px;
	}
	#painel-Formulario table tr td div {
	 float: right;
	}

	#painel-Formulario table tr td label {
	 float: right;
	}
	#painel-Formulario .campo-texto {
	 border: 1px solid #000;
	 background-color: #383838;
	 color: #000000;
	 width: 200px;
	}
	label.error {
	 background-color: red;
	 color: #FFFFFF;
	 margin-left: 5px;
	 padding: 0 5px 0;
	 position: absolute;
}
